{% extends 'base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock  %}

{% block titulo %}Detalhe Post{% endblock  %}


{% block conteudo %}
    <div class="main">
        <header class="navegacao">
            <nav>
                <a href="{% url 'pagina-inicial' %}">Página Inicial</a>
                
            </nav>
            <nav class="menu-posts">
                <a href="{% url 'posts-page' %}">Meus Posts</a>
                
            </nav>
        </header>>
        <section class="secao">
            <h2>{{post.title}}</h2>
            <article>
                <img src="{% static 'blog/img/'|add:post.image %}" alt="Post Title">
                <address>By {{post.author}}</address>
                <div>
                    Ultima atualização em <time>{{post.date|date:"d M y"}}</time>
                </div>
            </article>
        </section>
        
        <main class="corpo">
            <p>
               {{post.content}}
            </p>
            
        </main>
    </div>
        {% endblock  %}